<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Certificationy</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
            {{ knp_menu_render('training', { style: 'navbar'}) }}
            {{ knp_menu_render('user', { style: 'navbar'}) }}
        </div>

    </div>
</nav>
