<div class="panel-group" id="{{ inspection.checksum }}">
    <img class="pull-right" style="width: 95px; height: 155px;" src="{{ asset('bundles/certificationygithub/images/chewbacca.png') }}" alt="Chewbacca" title="Chewbacca">
    <p>
        Awesome Chewbacca is working on.
    </p>
</div>
