{% if loop is defined %}
    {% set identifier = inspection.checksum ~ '-' ~ loop.index %}
{% else %}
    {% set identifier = inspection.checksum %}
{% endif %}

<div class="panel-group" id="{{ identifier }}">
    {% if inspection.errors.total == -1 %}
         {{ include('@CertificationyGithub/panel/inspection_failed.html.twig') }}
    {% else %}
        {{ include('@CertificationyGithub/panel/inspection_errors.html.twig') }}
    {% endif %}
</div>
