/web/bundles/

/web/components/
!web/components/.gitkeep

/app/bootstrap.php.cache

/app/config/parameters.yml

/app/logs/*/*
!/app/logs/*/.gitkeep

/app/cache/*

!app/cache/.gitkeep

/build/
/vendor/
/bin/

/composer.phar


web/analyze/*
app/Resources/certificationy-data
deployment/deploy.rb