/docker/env/prod.env
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/logs/
/app/cache/
/vendor/
/bin/
/composer.phar
/web/analyze/*
app/Resources/certificationy-data/
deployment/deploy.rb
/node_modules/
/app/Resources/assets/
/.tmp
/web/fonts/*
/web/css/*
/web/js/*
/docker/logs
/docker/data
/web/bundles/*
