/web/bundles/

/web/components/
!web/components/.gitkeep

/app/bootstrap.php.cache

/app/config/parameters.yml

/app/logs/*
/app/cache/*

!app/cache/.gitkeep
!app/logs/.gitkeep

/build/
/vendor/
/bin/

/composer.phar

