.showcase {
  padding: 60px 0px;
}
.showcase .box {
  width: 450px;
}
.showcase h2 {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 25px;
}
.showcase p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 15px;
}
.showcase .floatr {
  float: right;
}
.showcase .floatl {
  float: left;
}
.showcase .hborder {
  border-top: 6px solid #222;
}
.showcase .header {
  margin: 30px 10px 0px 0px;
}
.showcase .header a {
  color: #f30;
}
.showcase .header h1 {
  font-size: 80px;
  line-height: 110px;
  font-weight: 700;
  color: #111;
  margin-bottom: 20px;
}
.showcase .header h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 0px;
}
.showcase .header h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 40px;
}
.showcase .logo {
  position: relative;
  top: 63px;
  left: -57px;
}
.owhite {
  color: #eee;
}
.orange {
  color: #f63;
}
.bblack {
  background-color: #000;
  color: #eee;
}
.bdgray {
  background-color: #222;
  color: #ccc;
}
.bmgray {
  background-color: #444;
  color: #333;
}
.blgray {
  background-color: #aaa;
  color: #333;
}
.bowhite {
  background-color: #eee;
  color: #333;
}
