<p>
    <ul>
        <li>Language : {{ certification.context.language }}</li>
        <li>Categories : {{ certification.metrics.categoryCount }}</li>
        <li>Questions : {{ certification.metrics.questionCount }}</li>
        <li>Answers : {{ certification.metrics.answerCount }}</li>
    </ul>
</p>