<div class="well">
    <iframe src="http://ghbtns.com/github-btn.html?user=eko&repo=certificationy&type=watch&count=true&size=large"
            allowtransparency="true" frameborder="0" scrolling="0" width="250" height="30">
    </iframe>

    <iframe src="http://ghbtns.com/github-btn.html?user=eko&repo=certificationy&type=follow&count=false&size=large"
            allowtransparency="true" frameborder="0" scrolling="0" width="250" height="30">
    </iframe>

    <iframe src="http://ghbtns.com/github-btn.html?user=eko&repo=certificationy&type=fork&count=true&size=large"
            allowtransparency="true" frameborder="0" scrolling="0" width="250" height="30">
    </iframe>
</div>

<div class="text-center">
    <div>
        <a title="{{ 'download.cli.title'|trans({}, 'homepage')}}" class="btn btn-default btn-lg" href="http://github.com/eko/certificationy/archive/master.zip">
            <i class="fa fa-download fa-lg"></i>&nbsp;&nbsp;
            Certificationy.phar
        </a>
    </div>

    <div>
        <img src="{{ asset('images/cli-screen.png') }}">
    </div>
</div>
