parameters:
    #MySQL
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: certificationy
    database_user: XXXXXXXXXXXXXXXXXXXXXX
    database_password: XXXXXXXXXXXXXXXXXXXXXX

    #SMTP
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: XXXXXXXXXXXXXXXXXXXXXX
    mailer_password: XXXXXXXXXXXXXXXXXXXXXX

    #Redis
    redis_dsn: redis://127.0.0.1
    redis_default_client: 1
    redis_session_client: 2
    redis_counter_client: 3

    #GA
    google_analytics_id: XXXXXXXXXXXXXXXXXXXXXX

    #MongoDB
    mongodb_server: mongodb://127.0.0.1:27017
    mongodb_collection: certificationy

    #Github application (SSO login)
    github_client_id: XXXXXXXXXXXXXXXXXXXXXX
    github_client_secret: XXXXXXXXXXXXXXXXXXXXXX

    #Github credential (Pull request reviewer required it)
    github_login: XXXXXXXXXXXXXXXXXXXXXX
    github_password: XXXXXXXXXXXXXXXXXXXXXX

    #RabbitMQ
    rabbitmq_host: 127.0.0.1
    rabbitmq_port: 5672
    rabbitmq_login: XXXXXXXXXXXXXXXXXXXXXX
    rabbitmq_password: XXXXXXXXXXXXXXXXXXXXXX
    vhost: /

    #Mixed
    locale: en
    secret: XXXXXXXXXXXXXXXXXXXXXX
    debug_toolbar: true
    debug_redirects: false
    use_assetic_controller: true
    domain: .certificationy.dev

    #new relic
    new_relic_api_key: XXXXXXXXXXXXXXXXXXXXXX
    new_relic_license_key: XXXXXXXXXXXXXXXXXXXXXX