{% extends 'CertificationyCertyBundle:Certification:layout.html.twig' %}

{% block certy_content %}
    Hellow world description step
    <a href="{{ path('sylius_flow_forward', {'scenarioAlias': 'symfony2', 'stepName': 'description'}) }}" class="btn btn-success">forward <i class="icon-forward icon-white"></i></a>
{% endblock %}