<div class="text-center devicons devicons-github_badge fa-5x"></div>
<h2 class="text-center">How to contribute</h2>

<form role="form">

    <label for="clone">1. Clone the repository</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-terminal"></i></span>
        <input class="form-control" id="clone" type="text" value="git clone https://github.com/ProPheT777/certificationy-data">
    </div>

    <hr>

    <label for="sync">2. Configure your repository to update from our</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-terminal"></i></span>
        <input class="form-control" id="sync" type="text" value="git remote add upstream https://github.com/ProPheT777/certificationy-data">
    </div>

    <hr>

    <label for="branch">3. Create your branch</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-terminal"></i></span>
        <input class="form-control" id="branch" type="text" value="git checkout -b <branch_name>">
    </div>

    <hr>

    <label for="commit">4. Commit your files</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-terminal"></i></span>
        <input class="form-control" id="commit" type="text" value="git commit -a -m 'Description of what you do'">
    </div>

    <hr>

    <label for="push-gh">5. Push to Github</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-terminal"></i></span>
        <input class="form-control" id="push-gh" type="text" value="git push -u origin <branch_name>">
    </div>

</form>
<hr>
From now, just follow https://help.github.com/articles/creating-a-pull-request create the pull request ;)