set :repo_url, 'https://github.com/ProPheT777/certificationy-web-platform.git'
server 'certificationy.com', roles: %w{web app db}, primary: true, ssh_options: {
     user: 'XXX',
     forward_agent: true,
     auth_methods: %w('publickey'),
     keys: %w(~/.ssh/id_rsa)
 }

set :format, :pretty
set :log_level, :info
set :keep_releases, 5
set :composer_install_flags, '--no-dev --prefer-dist --no-interaction --optimize-autoloader'
set :symfony_env,  "prod"
set :app_path,              "app"
set :web_path,              "web"
set :log_path,              fetch(:app_path) + "/logs"
set :cache_path,            fetch(:app_path) + "/cache"
set :analyze_path,          fetch(:web_path) + "/analyze"
set :app_config_path,       fetch(:app_path) + "/config"
set :linked_files, [ fetch(:app_config_path) + "/parameters.yml" ]
set :linked_dirs, [fetch(:log_path), fetch(:web_path) + "/uploads", fetch(:web_path) + "/analyze" ]
set :file_permissions_paths,         [fetch(:log_path), fetch(:cache_path), fetch(:analyze_path)]
set :webserver_user,        "www-data"
set :permission_method,     :chmod
set :file_permissions_roles, :all
set :controllers_to_clear, ["app_*.php"]
set :file_permissions_chmod_mode, "777"
set :use_set_permissions, true
set :symfony_console_path, fetch(:app_path) + "/console"
set :symfony_console_flags, "--no-debug"
set :assets_install_path,   fetch(:web_path)
set :assets_install_flags,  '--symlink'
set :grunt_tasks, %w{css js cp}
set :deployer, 'prophet777'
set :bower_flags, '--quiet --allow-root --config.interactive=false'
set :bower_roles, :web
set :grunt_file, -> { release_path.join('Gruntfile.js') }
set :grunt_target_path, deploy_path

fetch(:default_env).merge!(symfony_env: fetch(:symfony_env))

after 'deploy:updated', 'composer:install'
after 'deploy:updated', 'npm:install'
after 'deploy:updated', 'grunt'
after 'deploy:updated', 'symfony:assets:install'
after 'deploy:published', 'symfony:permissions:apply'
after 'deploy:published', 'symfony:redis:clear_cache'
after 'deploy:published', 'apache:apc:clear'
after 'deploy:published', 'newrelic:deployment'
