    <h2 class="text-center">You scored {{ certification.result.score }} / {{ certification.context.numberOfQuestions }}</h2>

    {% if certification.result.score >= certification.context.requiredScore %}
        <div class="blockquote-box blockquote-success clearfix">
            <div class="square pull-left">
                <i class="fa fa-graduation-cap fa-5x"></i>
            </div>
            <h4>Congratulation !</h4>
            <p>
                And this was my sentence ...
            </p>
        </div>
    {% else %}
        <div class="blockquote-box blockquote-danger clearfix">
            <div class="square pull-left">
                <i class="fa fa-thumbs-down fa-5x"></i>
            </div>
            <h4>Ouch ...</h4>
            <p>
                You need to train on this tech !
            </p>
        </div>
    {% endif %}

