{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% for inspection in inspections %}
                {{ include('@CertificationyGithub/panel/commit.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
