<div class="showcase bowhite">
    <div class="container">
        <div class="header floatl">
            <h1>Certificationy</h1>
            <h2>{{ 'title'|trans({}, 'homepage' )}}</h2>
            <p>
                {{ 'description'|trans({}, 'homepage') }}
            </p>
        </div>
        <div class="logo floatr hidden-xs hidden-small">
            <a target="_blank" title="Symfony" href="http://symfony.com"><img src="{{ asset('images/logo_symfony.png') }}"></a>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
