.panel-heading a:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}
.panel-heading .collapsed:after {
  content: "\e080";
}
ul#answers {
  list-style-type: none;
}
.table span.glyphicon {
  margin-right: 10px;
}
div#menu .panel-body {
  padding: 0px;
}
div#menu .panel-body .table {
  margin-bottom: 0px;
}
div#menu .panel-body table tr td {
  padding-left: 15px;
}
.blockquote-box {
  border-right: 5px solid #333333;
  margin-bottom: 25px;
}
.blockquote-box .square {
  width: 100px;
  min-height: 50px;
  margin-right: 22px;
  text-align: center!important;
  background-color: #E6E6E6;
  padding: 20px 0;
}
.blockquote-box.blockquote-primary {
  border-color: #428bca;
}
.blockquote-box.blockquote-primary .square {
  background-color: #428bca;
  color: #FFF;
}
.blockquote-box.blockquote-success {
  border-color: #5cb85c;
}
.blockquote-box.blockquote-success .square {
  background-color: #5cb85c;
  color: #FFF;
}
.blockquote-box.blockquote-info {
  border-color: #5bc0de;
}
.blockquote-box.blockquote-info .square {
  background-color: #5bc0de;
  color: #FFF;
}
.blockquote-box.blockquote-warning {
  border-color: #f0ad4e;
}
.blockquote-box.blockquote-warning .square {
  background-color: #f0ad4e;
  color: #FFF;
}
.blockquote-box.blockquote-danger {
  border-color: #d9534f;
}
.blockquote-box.blockquote-danger .square {
  background-color: #d9534f;
  color: #FFF;
}
